﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.box-header {
    color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #E87722;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-weight: bold;
    padding: 7px 20px 7px 20px;
    background-color: #101010;
    border-bottom-width: 0px;
}

.cabeceraGrid {
    background-color: #535353;
    color: #fff;
}

.box{
    border-style: solid;
    border-width: 1px;
    border-color: #101010;
    background-color: white;
    padding: 7px 20px 7px 20px;
}