﻿@model Entities.Common.User
@{
    ViewBag.Title = "Iniciar Sesion";
}
<section id="loginForm">
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        <h2 style="color:red">@Html.ValidationSummary(true)</h2>
        <div class="row">
            <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
                <div class="row">
                    <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3">
                    </div>
                    <div class="col-lg-6 col-xs-6 col-sm-6 col-md-6">
                        <center>
                            <div class="row">
                                <center>
                                    <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
                                        <div class="box-header">
                                            <center>Iniciar sesión</center>
                                        </div>
                                        <div class="box">
                                            <div class="row">
                                                @*<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                                        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                                            <label for="Version">Versión</label>
                                                        </div>
                                                        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                                            @Html.DropDownList("ddl_SocioNegocio", ViewData["ddl_SocioNegocio"] as SelectList, "Seleccione", new { @id = "ddl_SocioNegocio" })
                                                            <select id="ddl_Version" name="ddl_Version" class="form-control">
                                                                <option value="1">Versión 1</option>
                                                                <option value="2">Versión 2</option>
                                                            </select>
                                                        </div>
                                                    </div>*@
                                                <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                                    @*<div class="form-group">*@
                                                    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                                        @Html.LabelFor(m => m.CompanyDB)
                                                    </div>
                                                    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                                        @Html.DropDownList("ddl_Company", ViewData["ddl_Company"] as SelectList, "Seleccione", new { @id = "ddl_Company", @class = "form-control" })
                                                        @Html.ValidationMessageFor(m => m.CompanyDB)
                                                    </div>
                                                    @*</div>*@
                                                </div>
                                                <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.UserName)
                                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(m => m.UserName)
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.Password)
                                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(m => m.Password)
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                                    <div class="">
                                                        <div class="custom-checkbox2">
                                                            @Html.CheckBoxFor(m => m.RememberMe)
                                                            @*<input type="checkbox" id="chboxUrgente" name="Urg[]" />*@
                                                            @*<label >Urgente</label>*@
                                                            @Html.LabelFor(m => m.RememberMe, new { @for = "RememberMe" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                                    <br />
                                                    <input class="btn btn-info" type="submit" value="Iniciar sesión" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </center>
                            </div>
                        </center>
                    </div>
                    <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3">
                    </div>
                </div>
            </div>
        </div>
        @*<p>
                @Html.ActionLink("Register", "Register") if you don't have an account.
            </p>*@
    }
</section>

@*<section class="social" id="socialLoginForm">
        <h2>Use another service to log in.</h2>
        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
    </section>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
