﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
        <div class="row">
            <div class="box-header">
                <center>Cliente</center>
            </div>
            <div class="box">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
                            <div class="form-group">
                                <label>Tipo</label><br />
                                <select class="form-control" id="ddl_Type">
                                    <option value="P">Persona</option>
                                    <option value="E">Empresa</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
                            <div class="form-group">
                                <label>Tipo Documento</label><br />
                                <select class="form-control" id="ddl_TypeDocument">
                                    <option value="CC">Cedula</option>
                                    <option value="N">NIT</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
                            <div class="form-group">
                                <label>Identificación</label><br />
                                <input class="form-control" id="txtCode" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                        <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" class="form-control" id="txtName" />
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
                            <div class="form-group">
                                <label>Dirección</label>
                                <input type="text" class="form-control" id="txtAddress" />
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
                            <div class="form-group">
                                <label>Teléfono</label>
                                <input type="text" class="form-control input-number" id="txtPhone" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                        <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
                            <div class="form-group">
                                <label>Genero</label>
                                <select class="form-control" id="ddl_Gender">
                                    <option value="H">Hombre</option>
                                    <option value="M">Mujer</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                        <div class="row">
                            <div class="btn-group pull-right">
                                <button class="btn btn-primary" id="btnCreate"> Crear</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/jquery.js"></script>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-datepicker.js"></script>
<script>

    $(document).ready(function () {
        $.noConflict();

        $('.input-number').on('input', function () {
            this.value = this.value.replace(/[^0-9]/g, '');
        });


        $('#btnCreate').click(function () {
            $.ajax({
                url: '/Client/CreateClient',
                type: "POST",
                dataType: 'json',
                cache: false,
                data: {
                    Code: $("#txtCode").val(),
                    Type: $("#ddl_Type option:selected").val(),
                    TypeDocument: $("#ddl_Type option:selected").val(),
                    Name: $("#txtName").val(),
                    Address: $("#txtAddress").val(),
                    Phone: $("#txtPhone").val(),
                    Gender: $("#ddl_Gender option:selected").val()
                },
                success: function (data) {
                    if (data.responseText == "Ok") {
                        alert("Cliente Registrado");
                    }
                    else {
                        alert(data.responseText);
                    }
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
        });
    });
</script>
