﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
        <div class="row">
            <div class="box-header">
                <center>Venta</center>
            </div>
            <div class="box">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label>Cliente</label><br />
                                @Html.DropDownList("ddl_Client", ViewData["ddl_Client"] as SelectList, "Seleccione", new { @id = "ddl_Client", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-5 col-xs-5 col-lg-5 col-sm-5">
                            <div class="form-group">
                                <label>Producto</label><br />
                                @Html.DropDownList("ddl_Product", ViewData["ddl_Product"] as SelectList, "Seleccione", new { @id = "ddl_Product", @class = "form-control" })
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                        <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
                            <div class="form-group">
                                <label>Fecha Vigencia Inicial</label>
                                <input type="text" class="form-control txt_fecha" id="txtLifeInitial" />
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
                            <div class="form-group">
                                <label>Fecha Vigencia Final</label>
                                <input type="text" class="form-control txt_fecha" id="txtLifeFinal" />
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
                            <div class="form-group">
                                <label>Valor poliza</label>
                                <input type="text" class="form-control input-number" id="txtTotalSale" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                        <div class="row">
                            <div class="btn-group pull-right">
                                <button class="btn btn-primary" id="btnCreate"> Crear</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/jquery.js"></script>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-datepicker.js"></script>
<script>

    $(document).ready(function () {
        $.noConflict();
        $(".txt_fecha").datepicker({
            dateFormat: 'dd/mm/yy'
        });

        $('.input-number').on('input', function () {
            this.value = this.value.replace(/[^0-9]/g, '');
        });


        $('#btnCreate').click(function () {
            $.ajax({
                url: '/Sale/CreateSale',
                type: "POST",
                dataType: 'json',
                cache: false,
                data: {
                    ClientCode: $("#ddl_Client option:selected").val(),
                    ProductCode: $("#ddl_Product option:selected").val(),
                    LifeInitial: $("#txtLifeInitial").val(),
                    LifeFinal: $("#txtLifeFinal").val(),
                    TotalSale: $("#txtTotalSale").val()
                },
                success: function (data) {
                    if (data.responseText == "Ok") {
                        alert("Venta Registrada");
                    }
                    else {
                        alert(data.responseText);
                    }
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
        });
    });
</script>
