﻿@model IEnumerable<Entities.Tables.Protection>
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div id="gridProtections" class="table-responsive" style="font-size: 12px">
            @Html.ValidationSummary()
            <table id="tableProtections" class="table table-bordered table-striped" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="cabeceraGrid"><center>Codigo</center></th>
                        <th class="cabeceraGrid"><center>Nombre</center></th>
                        <th class="cabeceraGrid"><center>Descripción</center></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var m in Model)
                    {
                        <tr>
                            <td>@m.Code</td>
                            <td>@m.Name</td>
                            <td>@m.Description</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/jquery.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.dataTables.js"></script>
<script src="~/Scripts/dataTables.bootstrap.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $.noConflict();
        $('#tableProtections').DataTable({
        });
    });
</script>