﻿@model IEnumerable<Entities.Tables.Product>
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div id="gridProducts" class="table-responsive" style="font-size: 12px">
            @Html.ValidationSummary()
            <table id="tableProducts" class="table table-bordered table-striped" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="cabeceraGrid"><center>Codigo</center></th>
                        <th class="cabeceraGrid"><center>Nombre</center></th>
                        <th class="cabeceraGrid"><center>Descripción</center></th>
                        <th class="cabeceraGrid"><center>Acciones</center></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var m in Model)
                    {
                        var btnAmparos = "=" + m.Code;
                        var btnEditar = ":" + m.Code;
                        <tr>
                            <td>@m.Code</td>
                            <td>@m.Name</td>
                            <td>@m.Description</td>
                            <td><button class="btn-default btnAmparos" id="@btnAmparos" data-toggle="modal" data-target="#ModalAmparos">Ver Amparos</button><button class="btn-warning btnEditar" id="@btnEditar">Editar</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/jquery.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.dataTables.js"></script>
<script src="~/Scripts/dataTables.bootstrap.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $.noConflict();
        $('#tableProducts').DataTable({
        });

        $(document).on('click', '.btnAmparos', function () {
            var id = $(this).attr('id');

            $.ajax({
                url: '/Product/GridProductProtection',
                type: "POST",
                dataType: 'json',
                cache: false,
                data: {
                    Code: id.replace('=', '')
                },
                success: function (data) {
                    $('#divAmparos').empty();
                    $('#divAmparos').html(data.responseText);
                },
                error: function (data) {
                    $('#divAmparos').empty();
                    $('#divAmparos').html(data.responseText);
                }
            });
        });
    });
</script>