﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
        <div class="row">
            <div class="box-header">
                <center>Productos</center>
            </div>
            <div class="box">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <center><button id="btn_Crear" class="btn btn-primary pull-right">Crear</button></center>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div id="divProducts">
                            @Html.Action("GridProducts", "Product")
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>
<div id="ModalAmparos" class="modal fade">
    <div class="modal-dialog modal-lg2">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <br />
                <div id="divAmparos">

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        
    });
</script>
